<style>#donateBtnSample{color:white;font-size:17px;text-decoration:none;font-family:Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;background:#136c9c;border-radius:3px;padding:11px 24px 14px 10px;} #donateBtnSample img.donateBtnSampleLogo{padding:3px 8px 3px 0px;border-right:1px solid #417b9a;vertical-align:middle;} #donateBtnSample span.donateBtnSampleText{padding-left:16px;vertical-align:middle;} </style>
<a href="https://www.paysera.com/pay/?data=cHJvamVjdGlkPTEyNTExMSZvcmRlcmlkPTAmYW1vdW50PSZjdXJyZW5jeT1FVVImYWNjZXB0dXJsPWh0dHBzJTNBJTJGJTJGZXZvZ3l0aXMuZ2l0aHViLmlvJTJGJmNhbmNlbHVybD1odHRwcyUzQSUyRiUyRmV2b2d5dGlzLmdpdGh1Yi5pbyUyRiZjYWxsYmFja3VybD0mdGVzdD0wJnZlcnNpb249MS42&sign=79529350cac7ad38b2376a078a9539c6" id="donateBtnSample">
<img class="donateBtnSampleLogo" src="https://static.paysera.com/assets/image/donate-button/paysera-sign-v1.png">
<span class="donateBtnSampleText">Pay</span>
</a>
